body {
    color: rgb(167, 137, 92);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-color: cadetblue;
    background-color: cyan;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEDzJ-pSwed131fQTKOY47y5mONMCnf-SxfQ&usqp=CAU);
    height: 100%;
    width: 100%;
}